.opacity-custom {
  opacity: 0.85;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.opacity-custom:hover {
  opacity: 0.99;
}

.mosaic-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}
.mosaic-grid {
  display: grid;
  width: 100%;
  height: 100%;
}
.mosaic-cell {
  width: 100%;
  height: 100%;
}
