.circular-chart {
  display: block;
  max-height: 250px;
}

.circle-size {
  width: 2.5rem;
  height: 2.5rem;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
